@font-face {
   font-family: 'Satisfy';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///home/tio/alectrico/cl/fonts/Satisfy/regular.ttf') format('truetype');
}
